[package]
name = "credible-utils"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]

anyhow.workspace = true
tokio.workspace = true
hex.workspace = true
