name: Benchmarks

on:
  pull_request:
    types: [opened, synchronize, reopened]
    # paths:
    #   - "crates/src/**"
    #   - "!**/*.md"
  workflow_dispatch:

permissions:
  contents: read
  issues: write
  pages: write
  id-token: write

jobs:
  criterion:
    uses: phylaxsystems/actions/.github/workflows/benchmark.yaml@feat/create-bench-workflow
    with:
      rust-channel: stable
      bench-command: "SIDECAR_BENCH_TRANSPORT=mock RUST_LOG=error cargo bench -p sidecar --features bench-utils --benches && cargo bench -p assertion-executor@0.9.0 --features test --benches"
      install-foundry: true
      submodules: true
      foundry-command: "forge build --root testdata/mock-protocol"
      publish-pages: true
      pages-path: "target/criterion"
      pages-report-path: "report"
      comment-on-pr: true
      pr-number: ${{ github.event.pull_request.number || '' }}
      pr-from-fork: ${{ github.event.pull_request.head.repo.fork || false }}
      pages-prefix: ${{ github.event.pull_request.number && format('pr-{0}', github.event.pull_request.number) || format('ref-{0}', github.ref_name) }}
