name: Rust Test, Lint
on:
  push:
    branches: [main]
    paths:
      - "crates/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/rust-test-lint.yml"
  pull_request:
    branches: [main]
    paths:
      - "crates/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/rust-test-lint.yml"
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: "Run with debug logging"
        required: false
        default: false

jobs:
  rust-base:
    name: Rust Base Nextest
    uses: phylaxsystems/actions/.github/workflows/rust-base.yaml@main
    with:
      runner-group: "big-bois-x86"
      rust-channel: "nightly"
      require-lockfile: true
      install-foundry: true
      dind: true
      submodules: true
      use-nextest: true
      foundry-command: "forge build --root testdata/mock-protocol"
      test-args: "--exclude state-store --exclude state-worker --no-tests=warn"
      # [""] means default features
      # Feature matrices are supported as follows: ["", "--features=foo", "--features=bar", "--features=foo,bar"]
      feature-sets: '[
        "--no-default-features --features test",
        "--no-default-features --features test --features optimism"
        ]'

  rust-base-state-worker:
    name: Rust Base State Worker
    uses: phylaxsystems/actions/.github/workflows/rust-base.yaml@main
    with:
      rust-channel: "nightly"
      require-lockfile: true
      install-foundry: true
      foundry-command: "forge build --root testdata/mock-protocol"
      dind: true
      test-args: "--package state-store --package state-worker -- --test-threads=1"
      # [""] means default features
      # Feature matrices are supported as follows: ["", "--features=foo", "--features=bar", "--features=foo,bar"]
      feature-sets: '[
        "--no-default-features"
        ]'
