name: Rust Test, Lint
on:
  push:
    branches: [ main ]
    paths:
      - 'crates/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '.github/workflows/rust-test-lint.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'crates/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '.github/workflows/rust-test-lint.yml'
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run with debug logging'
        required: false
        default: false

jobs:
  rust-base:
    name: Rust Base
    uses: phylaxsystems/actions/.github/workflows/rust-base.yaml@fix/runner
    with:
      runner-group: 'big-bois-amd64'
      rust-channel: 'nightly'
      require-lockfile: true
      install-foundry: true
      dind: true
      submodules: true
      foundry-command: 'forge build --root testdata/mock-protocol'
      test-args: '-- --test-threads=2'
      # [""] means default features
      # Feature matrices are supported as follows: ["", "--features=foo", "--features=bar", "--features=foo,bar"]
      feature-sets: '[
        "--no-default-features --features test", 
        "--no-default-features --features test --features optimism"
        ]'